<nav class="navbar navbar-expand-lg navbar-light  bg-success">
  <div class="container-fluid">
    <a style="color: rgb(241, 16, 16);font-size: 30px;" class="navbar-brand" href="#">Curdoparation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a style="color: white;font-size:20px ;"  class="nav-link active" aria-current="page" href="#"  routerLink="read">AllUser</a>
        </li>
        <li class="nav-item">
          <a style="color: white;font-size:20px ;" class="nav-link active" aria-current="page" href="#" routerLink="create">CreateUser</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<h1 style="margin-left: 110px;  font-size: 30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:mediumblue;" class="text mt-3">User Information In Table</h1>



<router-outlet></router-outlet>